{% extends 'banner_detector/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class = "my-1">
        {{list_header }}
        {% if view.kwargs.username %}
            {{ view.kwargs.username }}
        {% endif %}
    </h2>
    <!-- Central Modal Small -->
    <div class="modal fade" id="banner_type_modal_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <input type="hidden" name="intermediate_banner_id" value=""/>

                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body banner-type-modal-body">
                    <div class="container-fluid">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Активные</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Не активные</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                 <div class="row">
                                    {% for banner_type in active_banner_types %}
                                        <div class="col-md-3 banner-type">
                                            <input type="checkbox" id="banner_type_checkbox_{{banner_type.pk}}" class="banner_type_check" value="{{banner_type.pk}}" name="banner_type_id" />
                                            <label class="checkbox_label" for="banner_type_checkbox_{{banner_type.pk}}">
                                                <img alt="{{banner_type.name}}" src="{{ banner_type.image.url }}"  width="100%" height="300px"/>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                 <div class="row">
                                    {% for banner_type in in_active_banner_types %}
                                        <div class="col-md-3 banner-type">
                                            <input type="checkbox" id="banner_type_checkbox_{{banner_type.pk}}" class="banner_type_check" value="{{banner_type.pk}}" name="banner_type_id" />
                                            <label class="checkbox_label" for="banner_type_checkbox_{{banner_type.pk}}">
                                                <img alt="{{banner_type.name}}" src="{{ banner_type.image.url }}"  width="100%" height="300px"/>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"> Отмена</button>
                    <button type="button" id="update_banner_type" class="btn btn-primary btn-sm"> Обновить тип баннера</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Small -->
    <div class="row" id="BannerList">
        {% for banner in banners %}
            <div class="col-md-12" id="Banner-{{ banner.id }}">
                <div class="row box-shadow mx-3 my-3">
                    <div class="col-md-3 py-3 " >
                        <p> Выделенное изображение афишы</p>
                        <br>
                        <img class="banner-img" src="{{ banner.banner_object.image.url }}">
                    </div>
                    <div class="col-md-3 py-3">
                        <p> Ближaйшая базовая афиша</p>
                        <br>
                        <img class="banner-img " src="{{ banner.base_banner.banner_object.image.url }}">
                    </div>
                    <div class="col-md-3 py-3">
                        <p> Скан распознанной афиши </p>
                        <br>
                        <img class="banner-img " src="{{ banner.banner_object.banner_type.image.url }}">
                    </div>
                    <div class="col-md-3 py-3">
                        <div class="lib-row">
                            <div class="list-group">
                                <a href="{% url 'billboard-detail' banner.billboard.id %}" class="list-group-item list-group-item-action ">
                                    Биллборд
                                </a>
                                <div class="list-group-item" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                                    {{ banner.date_added }}
                                </div>
                                <div class="list-group-item">
                                    Дистанция
                                    <span class="badge badge-pill pull-right"> {{ banner.distance|floatformat }} </span>
                                </div>
                                <div class="list-group-item">
                                    Автор
                                    <span class="badge badge-pill pull-right">  {{ banner.billboard.author }} </span>
                                </div>
                            </div>

                            <div class="BannerType BannerData my-3" name="banner_type">
                                <form method="POST" id="updateBanner">
                                    {% csrf_token %}
                                    <input class="form-control" id="form-id" type="hidden" name="formId" value="{{ banner.pk }}">
                                    <label for="banner_type" class="requiredField">Тип афишы<span class="asteriskField">*</span> </label>

                                    <div class="form-group">
                                        <input class="form-control" type="text" name="banner_type" id="set_banner_type_btn"  value="{{ banner.banner_object.banner_type.pk }}" banner-attr="banner-{{ banner.id }}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary form-control" type="submit">Обновить тип и установить базовым</button>
                                    </div>

                                </form>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger form-control" onClick="deleteBanner({{banner.id}});">Удалить</button>
                            </div>
                            {% if banner.banner_object.banner_type is None %}
                                <p> Класс неизвестен</p>
                            {% else %}
                                <div class="form-group">
                                    <button class="btn btn-outline-info form-control" onclick="setAsBase({{ banner.id }});">Установить как базовый</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated  %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class = "btn btn-outline-info mb4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class = "btn btn-outline-info mb4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}

{% block scripts %}
    <script>
        localStorage.setItem('banner-update-link', '{% url "banner-ajax-update" %}');
        localStorage.setItem('banner-delete-link', '{% url "banner-ajax-delete" %}');
        localStorage.setItem('banner-set-as-base-link', '{% url "banner-ajax-set-as-base" %}');
    </script>
    <script type="text/javascript" src="{% static 'banner_detector/js/banners_lists.js' %}"></script>
{% endblock scripts %}