# Default directories
.idea
__pycache__
venv/*
output.csv


# SQLite databases
*.sqlite
*.sqlite3

### Django ###
*.log
*.pot
*.pyc

media
banner_app/static
models

# development script for enviroment variables
banner_app/env_var.py

temporary_files