{% extends "banner_detector/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="lib-panel">
            <div class="row box-shadow mx-1">
                <div class="col-md-4">
                    <div class="lib-row">
                        <img width="100%" class="" src="{{ base_banner.banner_object.image.url }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lib-row">
                        <div class="list-group">
                            <div class="list-group-item" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                                <i class="oi oi-target"></i>
                                {{ base_banner.banner_object.banner_type }}
                            </div>
                            <div class="list-group-item">
                                <i class="oi oi-person"></i>
                                Автор
                                <span class="badge badge-pill pull-right">
                                    {{ base_banner.author }}
                                </span>
                            </div>
                            <div>
                                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'base-banner-delete' base_banner.id%}">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}