{% extends "banner_detector/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Delete base banner
                </legend>
                <h2>Are you sure want to delete - {{ object.banner_type.name }} {{ object.id }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yep, Delete</button>
                <a class="btn btn-outline-seconday" href="{% url 'base-banner-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}