{% extends "banner_detector/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header-links %}
    <link href="{% static 'banner_detector/css/data_table/css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'banner_detector/css/data_table/css/datatables-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-section">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 ">
                <h3>Добавить автобус</h3>
                <form id="addBus" action="">
                    <div class="form-group">
                        <label for="stand_number">Тип стенда</label>
                        <select id="stand_number" class="form-control" name="stand_type" required>
                            {% for stand_type in stand_types %}
                                <option value={{ stand_type.pk }}> {{ stand_type.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number">Номер маршрута</label>
                        <input id="number" class="form-control" type="text" name="number" placeholder="Номер" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_number">Регистрационный номер</label>
                        <input id="registration_number"  class="form-control" type="text" name="registration_number" placeholder="Регистрационный номер" required>
                    </div>
                    <button class="btn btn-primary form-control" type="submit">Добавить</button>
                </form>
            </div>
            <div class="col-md-8">
                <h3>Список Автобусов</h3>
                <table id="bus-dt" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">Тип стенда
                        </th>
                        <th class="th-sm">Номер маршрута
                        </th>
                        <th class="th-sm">Номер автобуса
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bus in buses %}
                        <tr>
                            <td>{{bus.stand.name}}</td>
                            <td>{{bus.number}}</td>
                            <td>{{bus.registration_number}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="th-sm">Тип стенда
                        </th>
                        <th class="th-sm">Номер маршрута
                        </th>
                        <th class="th-sm">Номер автобуса
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        localStorage.setItem('bus-update-link', '{% url "bus-ajax-update" %}');
        localStorage.setItem('bus-add-link', '{% url "bus-ajax-add" %}');
    </script>
    <script type="text/javascript" src="{% static 'banner_detector/css/data_table/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'banner_detector/css/data_table/js/datatables-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'banner_detector/js/bus.js' %}"></script>

{% endblock scripts %}