{% extends "banner_detector/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Удалить Стенд
                </legend>
                <h2>Уверены что хотите удалить стенд - {{ billboard }} {{ billboard.id }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да удалить</button>
                <a class="btn btn-outline-seconday" href="{% url 'billboard-detail' billboard.id %}">Удалить</a>
            </div>
        </form>
    </div>
{% endblock content %}