{% extends "banner_detector/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="col-md-12">
            <legend class="border-bottom mb-4">
                {{ billboard }}
            </legend>
        </div>

        <div class="col-md-12">
            <legend class="">
                <a class ="btn btn-primary" href="{% url 'billboard-xml-detail' billboard.id %}" download="">Скачать XML</a>
            </legend>
            <div>
                <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'billboard-delete' billboard.id%}">Удалить</a>
            </div>
        </div>
        <div class="row">
            {% for banner in banners %}
                <div class="col-md-3">
                    <div class="card">
                        <img class="" style ="height: 200px;" src="{{ banner.banner_object.image.url }}" alt="banner cap">
                        <div class="card-body">
                            <h5 class="card-title">Баннер определился как
                                {% if banner.banner_object.banner_type is None %}
                                    <p>неизвестен</p>
                                {% else %}
                                    <p>{{ banner.banner_object.banner_type }}</p>
                                    </h5>
                                    {% if banner.recognition_status%}
                                        <p>Распознан</p>
                                    {% else %}
                                        <p>В очереди на распознавание</p>
                                    {% endif %}

                                {% endif %}
                            <p>distance: {{ banner.distance }}</p>
                            <p>
                                <span class="oi oi-person" title="icon person" aria-hidden="true"></span>
                                {{ banner.billboard.author }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}