{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block header-links %}

    {% endblock %}
    <link rel="icon" href="{% static 'banner_detector/detector.png' %}" type="image/x-icon">
    {#    <link rel="stylesheet" href="{% static 'banner_detector/css/mdb_bootstrap/mdb.css' %}">#}
    <link rel="stylesheet" href="{% static 'banner_detector/bootstrap-4.3.1/css/bootstrap.min.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'banner_detector/css/main.css' %}">
    <link href="{% static 'banner_detector/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if title %}
        <title>Detector - {{ title }}</title>
    {% else %}
        <title>Detector </title>
    {% endif %}
</head>
<body>
{% csrf_token %}
{#<header class="site-header">#}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mr-4" href="{% url 'detector-home' %}">
            <img src="{% static 'banner_detector/detector.png' %}" width="50" height="40" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle  ="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'billboards' %}">Все Стенды</a>
                    <a class="nav-item nav-link" href="{% url 'banners' %}">Все афиши</a>
                    <a class="nav-item nav-link" href="{% url 'billboard-create' %}">Сфотографировать Стенд</a>
                    <a class="nav-item nav-link" href="{% url 'billboard-create' %}">Добавить автобус</a>
                {% else %}

                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Профиль</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Авторизация</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{#</header>#}

<section role="main" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="fixed-bottom">
                <div class="alert alert-success fixed-bottom" id="success-alert" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <h2 id="alert_text" style="margin: 0px;"></h2>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
</section>

<footer class = 'fixed-bottom' id ="footer">
    <div class="container-fluid" style="padding: 0% 10% 0% 10%; ">
    </div>
    <div class="copyright text-center">
        Copyright &copy; 2020 <span>Banner detector App</span> v0.3.12
    </div>
</footer>

<script type="text/javascript" src="{% static 'banner_detector/js/jquery/jquery-3.2.1.min.js' %} "></script>
{#<script type="text/javascript" src="{% static 'banner_detector/js/jquery/popper.min.js' %}"> </script>#}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'banner_detector/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'banner_detector/js/main.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<!-- Additional javascript Files -->
{% block scripts %}

{% endblock %}


</body>
</html>
</DOCTYPE>